# Python bytecode
__pycache__/
*.py[cod]

# Env files & virtualenvs
.env
.venv/
env/
venv/

# Pytest cache
.pytest_cache/

# Pre-commit cache
.cache/pre-commit/

# macOS Finder files
.DS_Store

# IDE/editor settings
.vscode/
.idea/

# pytest coverage output
.coverage
htmlcov/

data
